.content-section
  display: flex
  flex-direction: column
  flex-grow: 1
  position: relative
  padding: 1em 5vw

  aside
    width 25%
    float left
    padding-left 20px
    padding-top 0
    overflow hidden

  section
    padding 0
    padding-top 1px
    margin-left 25%
